<section id="about" class="section-reverse">
   <div>
    <h2>Coloquio Yo concilio, tú concilias, ella concilia</h2>
    <hr>
    <p>
    Es normal en nuestro sector tener jornadas de 8 horas (al menos sobre el papel), según el reparto de 8 horas para el descanso, 8 horas de disfrute personal y 8 horas de trabajo. Pero cuando nos convertimos en progenitores todo esto se descalabra. ¿Cómo cuidar de una personita dependiente y trabajar al mismo tiempo? La conciliación viene al rescate! <br><br>

    Pero, ¿qué es la conciliación exactamente? ¿Cómo podemos ejercerla? ¿Qué opciones hay? ¿Que está haciendo la gente a nuestro alrededor? Vente el próximo sábado 20 de septiembre y aclaremos las dudas entre tod@s! <br><br>
    La conversación seguirá una dinámica <a href="https://en.wikipedia.org/wiki/Fishbowl_(conversation)">fishbowl</a>, donde los asistentes se pueden unir de forma sencilla y espontánea con comentarios o preguntas. Después del coloquio habrá tiempo para hacer networking.
    </p>
  </div>
 <div>
    <h2>VLCTechHub</h2>
    <hr>
    <p>
    Uno de los fines de la asociación <a href="vlctechhub.org">VLCTechHub</a> es mejorar la inclusión de grupos infrarrepresentados en las comunidades técnicas locales, por lo que no queríamos perder la oportunidad de montar este coloquio que surge de conversaciones de la comunidad en slack.
    </p>
  </div>
</section>
