<div class="logo">
  <a href="/" rel="canonical">
    <img src="assets/images/logo.png" alt="VLCTechHub">
  </a>
  <span class="heart" style="display:none">
    &hearts;
  </span>
  <a href="" class="event" style="display:none">
    <img src="" alt="">
  </a>
</div>
<header>
  <section id="intro">
    <h1 class="title">Yo concilio, tú concilias, ella concilia.</h1>
    <h2> Acomplando infancia y trabajo. Coloquio abierto. </h2>
    <h3>20 de julio | 11:15h | La Masia de los Jardineros | Entrada libre</h3>
  </section>
</header>
